# config files
/.github/
.eslintrc.json
.prettierrc
next.config.mjs
package.json
package-lock.json
postcss.config.mjs
tailwind.config.ts
tsconfig.json

# Service Worker
/public/sw.js
/public/fallback-development.js
/public/workbox-a5d17aea.js
