@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  overflow-y: auto;
  height: 100dvh;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.pass-front > * {
  @apply flex flex-row items-center justify-between;
}

.my-config {
  --uc-primary-oklch-dark: 69% 0.1768 258.4;
  --uc-primary-oklch-light: 59% 0.22 264;
  --h-accent: 217;
}

/* Hide Powered by Uploadcare element */
.my-config > lr-start-from > .content > lr-copyright {
  display: none;
}
